* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

.cl:before, .cl:after {
  display: table;
  content: "";
}

.clear:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.dr_header {
  width: 100%;
  background-color: #fff;
}

.dr_header .w {
  width: 1360px;
  height: 184px;
  background-color: #fff;
  margin: auto;
  overflow: hidden;
  margin-top: 24px;
  position: relative;
}

.dr_header .w .fix {
  width: 1360px;
  height: 20px;
  background-color: #fff;
}

.dr_header .w .fix .dr_left {
  width: 200px;
  height: 20px;
  background-color: #fff;
}

.dr_left img {
  float: left;
  margin-bottom: 0;
}

.dr_header .w .fix .dr_left .dr_left_gps {
  width: 40px;
  height: 20px;
  font-size: 12px;
  float: left;
  color: #bf967c;
  margin-left: 4px;
  margin-right: 26px;
  float: left;
}

.dr_header .w .fix .dr_left .dr_left_shop {
  width: 60px;
  height: 12px;
  font-size: 12px;
  float: left;
  color: #797979;
  margin-right: 1px;
}

.dr_header .w .dr_right {
  position: absolute;
  width: 380px;
  height: 20px;
  margin-left: 975px;
  float: left;
  background-color: #fff;
  float: left;
  top: 0;
}

.dr_header .w .dr_right a {
  color: #fff;
  background-color: #8b766c;
  font-size: 12px;
  float: left;
}

.dr_header .w .dr_right .a {
  width: 100px;
  font-size: 12px;
  color: #8b766c;
  float: left;
  margin: auto;
  text-align: center;
}

.dr_header .w .dr_right .b {
  width: 100px;
  font-size: 12px;
  color: #8b766c;
  float: left;
}

.dr_header .w .dr_right .c {
  width: 100px;
  font-size: 12px;
  color: #8b766c;
  float: left;
}

.dr_logo {
  position: absolute;
  margin-left: 550px;
  top: 2px;
}

.drmember_yzborder {
  position: absolute;
  right: 80px;
  margin-top: 10px;
}

.drmember_yzborder .txtIDCardw {
  width: 240px;
  height: 29px;
  position: relative;
  border-color: 1px soild #8b766c;
}

.drmember_yzborder .txtIDCardw .trueLoveSeach {
  position: absolute;
  right: 0;
  top: 4px;
}

.dr_nav {
  width: 100%;
  position: relative;
  z-index: 999;
}

.dr_nav .kk {
  width: 1360px;
  height: 54px;
  margin: auto;
  overflow: hidden;
}

.dr_nav .kk ul {
  width: 1305px;
  height: 54px;
  margin-left: 10px;
  overflow: hidden;
}

.dr_nav .kk ul li {
  width: 145px;
  height: 54px;
  color: #333;
  float: left;
  text-align: center;
  line-height: 54px;
  font-size: 12px;
}

.dr_nav .kk ul li.a {
  width: 145px;
  height: 54px;
  color: #8b766c;
  float: left;
  text-align: center;
  line-height: 54px;
  font-size: 12px;
}

.dr_background {
  width: 100%;
}

.dr_background .w {
  width: 1360px;
  height: 540px;
  margin: auto;
}

.dr_bread {
  width: 100%;
}

.dr_bread .w {
  width: 1360px;
  height: 50px;
  margin: auto;
}

.dr_bread .w h3 {
  color: #8b766c;
  text-align: center;
  line-height: 50px;
}

.dr_ringlist {
  width: 100%;
}

.dr_ringlist {
  width: 1360px;
  height: 600px;
  margin: auto;
}

.warpbox {
  height: 490px;
}

.warpbox ul li {
  width: 426px;
  height: 490px;
  margin: 0 12px;
  float: left;
}

.warpbox img {
  width: 100%;
  height: 100%;
}

.cort ul li {
  width: 426px;
  height: 140px;
  margin: 0 12px;
  float: left;
}

.cort p {
  color: #8c776d;
  font-size: 14px;
  text-align: center;
  padding: 46px 0 0;
  margin: 0 0 14px;
}

.cort span {
  display: inline-block;
  background-color: #a98f83;
  color: #fff;
  padding: 7px 12px;
  margin: auto;
  text-align: center;
  font-size: 12px;
  margin-left: 150px;
}

.cort i {
  display: inline-block;
  background-color: #a98f83;
  color: #fff;
  padding: 7px 12px;
  margin: auto;
  text-align: center;
  font-size: 12px;
}

.dr_page {
  width: 100%;
}

.dr_page .w {
  width: 1360px;
  height: 30px;
  margin: auto;
}

.dr_page .w .dr_fen {
  width: 210px;
  height: 30px;
  margin: auto;
  text-align: center;
}

.per {
  width: 100px;
  height: 30px;
  float: left;
  background-color: #a98f83;
  line-height: 30px;
  text-align: center;
}

.next {
  width: 100px;
  height: 30px;
  float: left;
  background-color: #a98f83;
  line-height: 30px;
  text-align: center;
}

/*# sourceMappingURL=goodsList.css.map */
